{% extends "internal/include/base.html" %}

{% block body %}
<div class="col-md-6 col-md-offset-3" style="margin-top:20px;">
    <h1 class="text-center">Active Hours for {{ project.title }}</h1>
    <form method="POST">
        {% include "internal/include/tables/hours.html" %}
        <div class="pull-right">
            <button type="submit" class="btn btn-info" name="full">Create This Invoice</button>
            <button class="btn btn-info" name="dates">Filter Dates</button>
            <p style="margin-top:5px;">
                Start: <input type="date" name="start" />
                End: <input type="date" name="end" />
            </p>
        </div>
        {% csrf_token %}
    </form>
</div>
{% endblock %}