<!DOCTYPE html>
<html>
  <head>
  <title>{% block title %}Web Development for Startups{% endblock %}</title>
    {% block head %}
      {% include "main/include/head.html" %}
    {% endblock %}
  </head>
    <body data-spy="scroll" data-target=".navbar-fixed-top">
        {% block body_extra %}{% endblock %}{# things such as extra css or js files #}
        {% block javascript %}{% endblock %}{# javascript that needs to be added into the page #}
        {% block wrap %}{# the point of the wrap tag is so we can get rid of the footer if needed #}
        <div id="wrap">
            <div id="main">
                {% block header %}{% include "main/include/header.html" %}{% endblock %}
                {# header changes on different apps that inherit this base.html #}
                {% block body %}{% endblock %}
            </div><!--endmain-->
        </div><!--endwrap-->
        {% endblock %}
        {% block footer %}
          <footer>
          </footer>
        {% endblock %}
    </body>
</html>