{% extends "main/include/base.html" %}

{% block title %}
{% if tag %}Blog about {{ tag }}
{% else %}Django Web Development Blog on Small Business{% endif %}
{% endblock %}

{% block body %}
<div class="container-fluid main-container">
    <div class="jumbotron text-center">
        <h1>Web Development Blog</h1>
    </div>
    <div class="col-md-7 col-md-offset-1">
        {% for p in posts %}
        <div class="row blog-post-row">
            <h2 class="text-center">{{ p.title }}</h2>
            <h4>{{ p.heading }}</h4>
            <p>{{ p.body|safe|truncatechars:"500" }}</p>
        </div>
        <div class="row">
            <a href="{% url 'blog-post' p.id p.title|slugify %}" class="btn btn-info btn-lg btn-blog-post">Keep Reading
            <span class="glyphicon glyphicon-file"></span></a>
            {% include "flowblog/include/post_sig.html" %}
        </div>
        {% endfor %}

        <div class="text-center">
            <ul class="pagination pagination-lg">
              {% if posts.has_previous %}
                  <li><a href="?page={{ posts.previous_page_number }}"><span class="glyphicon glyphicon-arrow-left"></span> Previous Page</a></li>
              {% endif %}
              <!--<li><a href="#">1</a></li>-->
              <!--<li><a href="#">2</a></li>-->
              <!--<li><a href="#">3</a></li>-->
              <!--<li><a href="#">4</a></li>-->
              <!--<li><a href="#">5</a></li>-->
              {% if posts.has_next %}
              <li><a href="?page={{ posts.next_page_number }}">Next Page <span class="glyphicon glyphicon-arrow-right"></span></a></li>
              {% endif %}
            </ul>
        </div>

        {% if tag %}
        <div class="text-center">
            <a class="btn btn-info btn-lg" href="blog-home">Blog home
            <span class="glyphicon glyphicon-home"></span></a>
        </div>
        {% endif %}
    </div>
    <div class="col-md-3">

    </div>
</div>
{% endblock %}