{% extends "flowblog/layouts/two_column.html" %}
{% load static %}

{% block head %}
  {{ block.super }}
  <script src="https://google-code-prettify.googlecode.com/svn/loader/run_prettify.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/prettify/r298/prettify.min.css"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/prettify/r298/prettify.min.js"></script>
  <link rel="stylesheet" type="text/css" href="{% static 'css/sunburst.css' %}" media="screen" />
{% endblock %}

{% block title %}
  {{ post.title }}
{% endblock %}

{% block blog_header %}
  {{ post.title }}
{% endblock %}

{% block left_column %}
  <div class="blog-content">
    <article class="row">
      <h4>{{ post.headline }}</h4>
      <p>{{ post.body|safe}}</p>
    </article>
    <div class="row text-center">
      <a href="{% url 'blog-home' %}" class="btn btn-info btn-lg">Blog Home
      <span class="glyphicon glyphicon-home"></span></a>
      {% include "flowblog/include/post_sig.html" %}
    </div>
  </div>
{% endblock %}