{% extends "flowblog/layouts/two_column.html" %}

{% block head %}
  {{ block.super }}
  <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/8.4/highlight.min.js"></script>
{% endblock %}

{% block title %}
  {{ post.title }}
{% endblock %}

{% block blog_header %}
  {{ post.title }}
{% endblock %}

{% block left_column %}
  <div class="blog-content">
    <article class="row">
      <h4>{{ post.headline }}</h4>
      <p>{{ post.body|safe}}</p>
    </article>
    <div class="row text-center">
      <a href="{% url 'blog-home' %}" class="btn btn-info btn-lg">Blog Home
      <span class="glyphicon glyphicon-home"></span></a>
      {% include "flowblog/include/post_sig.html" %}
    </div>
  </div>
{% endblock %}

{% block right_column %}
  <h3 class="skinny text-center">Recent Posts</h3>
  <div class="well">
    {% with recent_posts as post_list %}
      {% include "flowblog/include/post_list_compact.html" %}
    {% endwith %}
  </div>
{% endblock %}