{% extends "flowblog/include/base.html" %}

{% block navbar_items %}
  <ul class="nav navbar-nav">
    <li><a href="{% url 'blog-home' %}">Blog Home</a></li>
    <li><a href="{% url 'blog-tag' 'django' %}">Django</a></li>
    <li><a href="{% url 'blog-tag' 'angularjs' %}">AngularJS</a></li>
    <li><a href="{% url 'blog-tag' 'small-business' %}">Small Business</a></li>
    <li><a href="{% url 'blog-tag' 'startup-business' %}">Startups</a></li>
  </ul>
{% endblock %}

{% block body %}
  <div class="blog-header">
    <h1 class="skinny" style="font-size:300%;">
      {% block blog_header %}{% endblock %}
    </h1>
  </div>
  <div class="container-fluid blog-container">
    <div class="row">
      <div class="col-sm-7 col-sm-offset-1">
        {% block left_column %}{% endblock %}
      </div>
      <aside class="col-sm-3">
        {% block right_column %}{% endblock %}
      </aside>
    </div>
  </div>
{% endblock %}