<div class="text-center header-inverse">
    <h1 style="font-weight:300;">Invoice for {{ project.title }}</h1>
</div>
<div class="row row-invoice-header">
    <div class="col-md-4">
        <h3>ACH Transfer</h3>
        <p><b>Routing:</b> 325181248</p>
        <p><b>Account:</b> 4907465</p>
    </div>
    <div class="col-md-4">
        <h3>Send Check</h3>
        <p>Adam Wester</p>
        <p>105 Patton St.</p>
        <p>Richland, WA 99354</p>
    </div>
    <div class="col-md-4">
        <h3>Card Payment</h3>
        <p>For a PayPal card payment let me know and I send a payment request</p>
    </div>
</div>
<div class="row row-invoice">
    <table class="table table-responsive">
        <thead>
            <tr>
                <th>Invoice Number</th>
                <th>Invoice Date</th>
                {% if invoice.due_date %}<th>Due Date</th>{% endif %}
                <th>Invoice Start</th>
                <th>Invoice End</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>{{ invoice.id }}</td>
                <td>{{ invoice.invoice_date }}</td>
                {% if invoice.due_date %}<td>{{ invoice.due_date }}</td>{% endif %}
                <td>{{ invoice.start_date }}</td>
                <td>{{ invoice.end_date }}</td>
            </tr>
        </tbody>
    </table>
    <table class="table table-responsive">
        <thead>
            <tr>
                <th>Rate</th>
                <th>Hours</th>
                <th>Added Expenses</th>
                <th>Amount Due</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>{{ invoice.rate }}</td>
                <td>{{ invoice.total_hours }}</td>
                <td>{{ invoice.expense }}</td>
                <td>{{ invoice.total_amount }}</td>
            </tr>
        </tbody>
    </table>
</div>
