{% extends "flowcore/tables/default.html" %}

{% block table_body %}
    {% for o in object_list %}
    <tr>
        <td>{{ o.assigned_to }}</td>
        <td>{{ o.project.title }}</td>
        <td>{{ o.title }}</td>
        <td>{{ o.get_status_display }}</td>
        <td><a href="{% url 'task-update' o.id %}"  class="btn btn-info btn-block">
            <span class="glyphicon glyphicon-pencil"></span> Edit</a></td>
        <!--<td><a href="#" data-toggle="modal" data-target="#taskUpdateModal"-->
        <!--    class="btn btn-info btn-block"><span class="glyphicon glyphicon-pencil"></span> Edit</a></td>-->
    </tr>
    {% endfor %}
{% endblock %}